body,html {
  height: 100%;
}


/*logo*/
.bg {
  background-image: url('../images/parmentdragon (1).png');
  background-image: center;
   background-position: center;
 background-repeat:no-repeat;
 background-size: 100% 100%;
 height: auto;
  width: 100%;
 overflow-y: scroll;

}

/*searchbar*/
.bottLogo{
  margin-bottom: 5%;
}

.searchBar {
  width: 400px;
  margin-bottom: 2%;
  margin-top:  2%;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/*navbar*/
.navbar .navbar-nav {
display: inline-block;
float: none;
vertical-align: top;
}

.nav-link {
text-shadow: 4px 4px 30px rgba(0, 0, 255, 1);
margin: 0px 30px 0px 30px;
font-weight: bold;
}

.nav-link:hover {
/*   text-decoration: underline;
  text-decoration-color: black; */
  box-shadow: inset 0 0px 0 white, inset 0 -1px 0 black
}


.dropdown-menu {
  background-color: silver;
   /* overflow-y: auto;
  overflow-y: scroll; */
}

/* ::-webkit-scrollbar {
    display: none;
} */



h3 {
  margin: 0;
 -webkit-text-stroke: 1px #0000ff;
  color: #1414fb;

}
