body, html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#warrior-background {
    background-image: url("../images/rouge-background-1.png");
    background-repeat: no-repeat;
    background-image: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Semplicita Pro","Open Sans",Arial,Helvetica,sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
     background-size: 100% 100%;
 }

 /*top navbar*/
 .navbar .navbar-nav {
 display: inline-block;
 float: none;
 vertical-align: top;
 }

 .nav-link {
 margin: 0px 30px 0px 30px;
 font-weight: bold;
 font-size: 15px;
 }


 .dropdown .dropdown-menu {
   background-color:#002040;
   text-align: center;
   color: white;
   font-size: 15px;
 }

 .dropdown-item {
   color: white;
 }

 .black-nav {
   background-color: black;
 }


 /* page title */
 .warrior-content{
   padding: 0 20px;
     position: relative;
     margin: 0 auto;
     max-width: 1600px;
     z-index: 0;
 }

/*page content*/
 .warrior-title {
   font-family: "Semplicita Pro","Open Sans",Arial,Helvetica,sans-serif;
     font-weight: 700;
     font-size: 3.655rem;
    text-align: center;
    text-shadow: 0 0 1px transparent, 0 0 5px rgba(0,0,0,.8);
 }

 div{
 display: block;
 }

 .medium-space {
   height: 24px;
 }

 .large-space {
   height: 5em;
 }

 .small-space {
   height: 15px;
 }

 .medium-beige-text {
   font-size: 20px;
     font-weight: 400;
     color: #ebdec2;
     text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
   text-align: center;
 }

 .medium-white-font{
     font-size: 24px;
     font-weight: 700;
     text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
 }

 .large-beige-text {
   font-weight: 700;
    font-size: 24px;
   color: #b1997f;
   text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
 }


 p {
     display: block;
     -webkit-margin-before: 1em;
     -webkit-margin-after: 1em;
     -webkit-margin-start: 0px;
     -webkit-margin-end: 0px;
     font-size: 20px;
 }

 #paper {
  background-image: url("../images/paper.png");
    background-repeat: no-repeat;
    background-image: center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding: 15px;
  margin: 3px;
 color: #352011;
 -webkit-box-shadow: 0 0 16px 6px rgba(0,0,0,.5);
 height: 500px ;
}

.collapsed {
  font-size:20px;
}

.medium-blue-text {
  font-size:2rem;
  font-weight: 700;
  color: #09273e;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(255,255,255,.8);
}

.small-blue-text {
  font-weight: 700;
    color: #09273e;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(255,255,255,.8);
}

.features-div {
      padding-left: 5px;
}


/*social media links*/
.social {
  margin: 5px 0 12px 0;
  text-align: center;
  display: inline-block;
  font-size: 50px;
  color: yellow;
}

.social i {
  cursor: pointer;
  margin: 0 15px;
}

.social i:hover {
  color:white;
}


.bottom-background {
  background-color: black;
  margin: 20px;
  outline-color: silver;
  outline-style: inset;
  outline-width: thin;
  color: white;
}

.fixed-bottom {
  padding: 20px;
}

.navbar-brand{
  font-family: "Semplicita Pro","Open Sans",Arial,Helvetica,sans-serif;
=======
.imgPadding {
  padding-right: 10px;
  padding-bottom: 1px;
}
