form{
    background-image: url("../images/login-signup-background.jpg");
    background-repeat: no-repeat;
    background-image: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    bakground-size: cover;
    font-family: "Semplicita Pro","Open Sans",Arial,Helvetica,sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
 }
