body {
    background-image: url("../images/warriorBackground.png");
    background-repeat: no-repeat;
    background-image: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Semplicita Pro","Open Sans",Arial,Helvetica,sans-serif;
    color: #fff;
    font-weight: 400;
 }

 /*top navbar*/
 .navbar .navbar-nav {
 display: inline-block;
 float: none;
 vertical-align: top;
 }

 .nav-link {
 margin: 0px 30px 0px 30px;
 font-weight: bold;
 }


 .dropdown .dropdown-menu {
   background-color:#002040;
   text-align: center;
   color: white;
 }

 .dropdown-item {
   color: white;
 }

 #black-nav {
   background-color: black;
 }

 /* floating navbar */



 /* page title */
 .warrior-content{
   padding: 0 20px;
     position: relative;
     margin: 0 auto;
     max-width: 1600px;
     z-index: 0;
 }

/*page content*/
 .warrior-title {
   font-family: "Semplicita Pro","Open Sans",Arial,Helvetica,sans-serif;
     font-weight: 700;
     font-size: 3.655rem;
    text-align: center;
    text-shadow: 0 0 1px transparent, 0 0 5px rgba(0,0,0,.8);
 }

 div{
 display: block;
 }

 .medium-space {
   height: 24px;
 }

 .large-space {
   height: 5em;
 }

 .medium-beige-text {
   font-size: 1.4688rem;
     font-weight: 400;
     font-size: 1.296rem;
     color: #ebdec2;
     text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
   text-align: center;
 }

 .medium-white-font{
     font-size: 1.4688rem;
     font-weight: 700;
     text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
 }

 p {
     display: block;
     -webkit-margin-before: 1em;
     -webkit-margin-after: 1em;
     -webkit-margin-start: 0px;
     -webkit-margin-end: 0px;
 }

 .row-one {
   float:left;
 }

 #paper {
  background-image: url("../images/paper.png");
    background-repeat: no-repeat;
    background-image: center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15px;
  margin: 3px;
 color: #352011;
 -webkit-box-shadow: 0 0 16px 6px rgba(0,0,0,.5);
}

.medium-blue-text {
  font-size:2rem;
  font-weight: 700;
  color: #09273e;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(255,255,255,.8);
}

.small-blue-text {
  font-weight: 700;
    color: #09273e;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(255,255,255,.8);
}

.features-div {
      padding-left: 5px;
}

.imgPadding {
  padding-right: 10px;
  padding-bottom: 1px;
}
